

mat-sidenav {
  width: 250px;
 // background-color: gray;
}

mat-sidenav-container {
  height: 100vh;

  mat-sidenav-content {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1 1 auto;
    padding: 1rem;
  }
}
